In [39]:
%config IPCompleter.greedy=True
%config IPCompleter.use_jedi=False

import pandas as pd
import numpy as np
import codecs
from tensorflow.keras.preprocessing.text import Tokenizer

In [45]:
name = ' diardano raihan'
name.strip()

In [31]:
corpus = pd.read_pickle('SUBJ/SUBJ.pkl')
corpus

                                               sentence label  split
0     smart and alert , thirteen conversations about...     0  train
1     color , musical bounce and warm seas lapping o...     0  train
2     it is not a mass market entertainment but an u...     0  train
3     a light hearted french film about the spiritua...     0  train
4     my wife is an actress has its moments in looki...     0  train
...                                                 ...   ...    ...
9995  in the end , they discover that balance in lif...     1  train
9996  a counterfeit 1000 tomin bank note is passed i...     1  train
9997  enter the beautiful and mysterious secret agen...     1  train
9998  after listening to a missionary from china spe...     1  train
9999  looking for a short cut to fame , glass concoc...     1  train

[10000 rows x 3 columns]

In [32]:
tokenizer = Tokenizer()

In [33]:
tokenizer.fit_on_texts( corpus.sentence)

In [34]:
len(tokenizer.word_index)

21322